cache=K:\PortableApps\genai\npm-cache
prefix=K:\PortableApps\genai
tmp=K:\PortableApps\genai\temp
registry=https://registry.npmjs.org/
userconfig=K:\PortableApps\genai\.npmrc
globalconfig=K:\PortableApps\tools\nodejs\etc\npmrc